<ion-view title="Cek e-ktp" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <form id="cekEKtp-form2" class="list">
      <h5 id="cekEKtp-heading2" style="color: rgb(0, 0, 0); font-weight: 300;">Nomor Induk Kependudukan (NIK) :</h5>
      <label class="item item-input" id="cekEKtp-input4">
        <span class="input-label">Masukan NIK e-ktp</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <button id="cekEKtp-button2" class="button button-positive button-block">Cek e-ktp</button>
  </ion-content>
</ion-view>