<ion-view title="Cek NIK" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <h5 id="cekNIK-heading1" style="color: rgb(0, 0, 0); font-weight: 300;">Nomor Induk Kependudukan (NIK) :</h5>
    <form id="cekNIK-form1" class="list">
      <label class="item item-input" id="cekNIK-input2">
        <span class="input-label">masukkan nomor NIK</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <button id="cekNIK-button1" class="button button-positive button-block">cari NIK</button>
    <div id="cekNIK-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">xxx</p>
    </div>
  </ion-content>
</ion-view>